.header {
  background: #016ab4;
  background: -webkit-linear-gradient(to bottom right, #09996e, #016ab4);
  background: -o-linear-gradient(to bottom right, #09996e, #016ab4);
  background: -moz-linear-gradient(to bottom right, #09996e, #016ab4);
  background: linear-gradient(to bottom right, #09996e, #016ab4);
  width: 100%;
  position: absolute;
  height: 75px;
  top: 0px;
  left: 0px;
}

.App {
  margin: auto;
  text-align: center;
  max-width: 400px;
}

body {
  background-color: #016ab4;
}

h1 {
  margin-left: 25px;
}

.settings {
  display: inline-block;
}

.settings input {
  width: 170px;
}

.settings ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll; 
}

.incomingbusses {
  list-style-type: none;
  padding: 0;
}

.stopslist {
  background-color: lightskyblue;
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;
}

.content {
  margin-top: 120px;
}

.stopslist:hover {
  background-color: #517890;
  cursor: pointer;
}

.stopinfo p {
  margin: 0;
}