.header {
  background: #09996e;
  width: 100%;
  position: absolute;
  height: 75px;
  top: 0px;
  left: 0px;
}

.content {
  margin-top: 100px;
  box-shadow: 0px 0px 10px 1px black;
  border: 1px solid black;
  padding: 10px;
}

.buspic {
  margin-bottom: 5px;
}

.visiblestops {
  position: absolute;
  width: 174px;
}

.App {
  margin: auto;
  text-align: center;
  max-width: 430px;
}

body {
  background-color: #016ab4;
}

.settings {
  display: inline-block;
}

.settings input {
  width: 170px;
}

.nobusses img {
  margin-top: 5px;
}

.settings ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

.incomingbusses {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.incomingbusses p {
  display: inline;
}

.bus {
  background-color: #00bcd43d;
  margin-bottom: 1px;
  border: 1px solid black;
}

.bus.departing {
  background-color: #00bcd485;
}

.stopname {
  margin-top: 3px;
}

.stopslist {
  background-color: lightskyblue;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.busicons {
  margin-top: 5px;
  display: inline-flex;
  flex-wrap: wrap;
}

.busdot {
  cursor: pointer;
  min-width: 30px;
  margin-left: 2px;
  margin-top: 3px;
  margin-right: 2px;
  outline-color: black;
  outline-style: outset;
  outline-width: 1px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.busdot.passive {
  text-decoration: line-through;
  background-color: #004170;
}

.busdot:hover,
.passive:hover {
  outline-color: darkgray;
}

.busdot:active,
.passive:active {
  outline-color: white;
}

.stopslist:hover {
  background-color: #517890;
  cursor: pointer;
}

.stopinfo p {
  margin: 0;
}
